<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Juego Boton Epico</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    
    <main class="epic_container">
        <div>
            <h1>The button has been pushed <span id="counter"></span> times(s)</h1>
        </div>
        <div>
            <p>Push the button to update the count!</p>
            <button id="epic_button" type="button" class="blue">Push the epic button</button>
        </div>
        <div>
            <button id="reset_counter" type="button" class="red">Reset count</button>
        </div>
    </main>

    <script src="/js/script.js"></script>
</body>
</html>